


.react-calendar {

  width: 1000px !important;
  max-width: 1500px !important;
  background-color: purple;
  margin-top: 20px;
  margin-left: 200px;
  height: 620px;
  /* height: 600px !important; */

}

.weekend {

  background-color: #cbd1d6;

}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;

}
