.search-title {

  font-size: 28px;
  font-family: 'Aref Ruqaa', serif;
  font-weight: bold;
}

 .full-width {
  width: 100%; 
 }

 .not-auto {
   width: 100% !important;
 }

 .pac-container {
   z-index: 9999;
 }