.style_column {
  position: absolute;
  height: 100%;
  width: 400px;
  top: 0;
  left: 0;
  z-index: 0;
}

.name {
  font-size: 50px;
  font-weight: bold;
  /* margin-left: 150px; */
  margin-right: 10px;
  font-family: 'Aref Ruqaa', serif;
}

.category {
  display: inline-block;
  padding: 10px;
  padding-bottom: 0px;
  background-color: #597096;
  border-radius: 10px;
  margin-left: 10px;
}

.address {
  /* margin-top: 30px; */
  font-size: 22px;
  /* margin-left: 200px; */
  /* margin-bottom: 20px; */
  font-family: 'Coming Soon, cursive';

}

.update {
  font-size: 20px;
  font-family: 'Coming Soon, cursive';
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0px;
}

.description {
  font-family: 'Coming Soon, cursive';
  font-size: 20px;
  border: 1px solid black;
}

.edit {
  /* top: 80px; */
  /* right: 200px; */
  /* position: absolute; */
  bottom: 10px;
  cursor: pointer;
  display: inline;
}

/* .no-right-padding {
  padding-right: 0 !important;
} */
