.backStuff {
   background-image: url("/office.jpg");
   height: 100vh;
}

.body {
  width: 80%;
  text-align: center;
}

/* Bootstrap xs - lg size */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 992px) {
  .about {
    font-size: 40px;
    color: black;
    font-family: 'Aref Ruqaa', serif;
    font-weight: 500;
  }
}

/* Bootstrap lg and up */
@media only screen 
and (min-width : 992px) {
  .about {
    font-size: 65px;
    color: black;
    font-family: 'Aref Ruqaa', serif;
    font-weight: 700;
  }
}
.container_about {
  background-color: white;
  width: 100%;
  border-radius: 75px;
  opacity: 0.9;
  box-shadow: 10px 20px 30px 0px #888888;
}
