.shoppingCart {
  width: '18rem';
  margin-top: 1.2rem;
}

.shopping-cart-col {
  position: fixed;
  bottom: 0;
}

.add-shadow{
  box-shadow: 8px 8px 5px #8888;
  border-radius: 10px;
}

.smallText {
  font-size: x-small;
}

.largeMarginBottom {
  margin-bottom: 12rem;
}

.fullHeight {
  top: 10px;
  bottom: 20px;
  height: 100vh;
}

.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}