.container {
  align-content: center;
  justify-content: center;
  align-items: center;

}


.service_container {


  margin-top: 50px;
  background-color: #f0f0f0;
  width: 100%;

}

.service_card {

  margin-bottom: -20px;
  flex-direction: row;
  display: flex;
  box-shadow: 10px 20px 30px 0px #888888;
}

.service_img {

    height: 500px;
    width:50%;
}

.service_text {

  width: 50%;
  height: 500px;

}

.fun_style {
  /* margin: 40px; */
  margin-top: 40px;
  margin-left: 4%;
  position: absolute;
  width: 40%;
  border: 1px solid black;
  height: 420px;
}

.title_container {
  /* position: absolute; */
  margin-left: 30%;

  width: 40%;
  margin-bottom: 10%;


}

.services_title {
  font-size: 40px;
  font-weight: bold;
  margin-top: 20px;
  font-family: 'Aref Ruqaa', serif;
}

.service_title {
  font-size: 30px;
  font-family: 'Aref Ruqaa', serif;
  cursor: pointer;
}

.service_subtitle {
  /* position: absolute; */
  /* left: 70%; */
  margin-left: 18%;
  /* margin-top: 10%; */
  /* margin-right: 40%; */
  text-align: left;
  /* border: 1px solid black; */
  font-weight: bold;
  font-size: 18px;
  font-family: 'Roboto Slab', serif;
}

.subtitle_values {

  font-size: 18px;
  font-family: 'Roboto Slab', serif;
  width: 24%;
  text-align: left;
  margin-left: 15%;
  /* border: 1px solid black; */
}

.buttons {
  background-color: #d6d4d4;
  border: 0px;
  margin-right: 10px;
  color: black;
}
