
.search {

  /* position: absolute; */
  align-items: center;


}

/* Bootstrap xs - lg size */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 992px) {
  .bloom {
    font-size: 40px;
    color: white;
    font-family: 'Megrim', cursive;
    font-weight: bold;
  }
  .welcome {
    font-size: 20px;
    color: white;
    font-family: 'Aref Ruqaa', serif;
    font-weight: bold;
    display: flex; 
    justify-content: center; 
    align-items: center;
  }
  .subtitle {
    font-size: 15px;
    color: white;
    font-family: 'Merriweather', serif;
  }
  .adaptive-height {
    height: 730px
  }

  .image_container {
    height: 372px;
  }
  .images {
    box-shadow: 10px 10px 10px #8888;
    height: 372px;
    width: 100%;
    filter: grayscale(1);
  }
  .typist {
    color: black;
    font-size: 20px;
    font-family: 'Coming Soon, cursive';
  }
}

/* Bootstrap lg and up */
@media only screen 
and (min-width : 992px) {
  .bloom {
    font-size: 90px;
    color: white;
    font-family: 'Megrim', cursive;
    font-weight: bold;
  }
  .welcome {
    font-size: 40px;
    color: white;
    font-family: 'Aref Ruqaa', serif;
    font-weight: bold;
    display: flex; 
    justify-content: center; 
    align-items: center;
  }
  .subtitle {
    font-size: 25px;
    color: white;
    font-family: 'Merriweather', serif;
  }
  .adaptive-height {
    height: 800px
  }

  .image-container {
    height: 100%;
    position: relative;
  }
  .images {
    height: 100%;
    width: 100%;
    box-shadow: 10px 10px 10px #8888;
    filter: grayscale(1);
  }
  .typist {
    color: black;
    font-size: 40px;
    font-family: 'Coming Soon, cursive';
  }
}

.cards {

  /* position: absolute; */
  margin-top: 100px;

}

.image_container:hover .images{
  opacity: 0.5;
  cursor: pointer;
}

.text {
transition: .5s ease;
opacity: 0;


font-size: 40px;
position: absolute;
top: 50%;
left: 50%;
/* transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%); */
text-align: center;
}

.image_container:hover .text{
  opacity: 1;
}

.header {

  font-size: 45px;
  margin-bottom: 50px;
  font-family: 'Aref Ruqaa', serif;
  font-weight: bold;
}

.salon{
  width: 600px;
  box-shadow: 10px 10px 15px 15px #888888;
}

.salon_text {

  margin: 10%;


}

.paint_line {
  margin-top: 350px;
  margin-left: -300px;
  width: 800px;
 height: 100px;
 transform: rotate(270deg);

 position: absolute;

}
/*
.salon_container {
  background-image: #8CAFCA;
} */
