.facebookButton {
  margin-top: 10px;
  width: 100%;
  background-color: #3b5998;
  color: white;
  padding-right: 30px;
  margin-bottom: 20px;
  padding-left: 15px;
  height: 48px;
  font-size: 14px;

}

.login {
  background-color: #8CAFCB;
  border: 0px;
  width: 100%;
  height: 45px;
  margin-top: 20px;
  border-radius: 0px;
  margin-bottom: 20px;
  font-size: 14px;
}

.form {
  width: 80%;
  padding-left: 15%;
}

.signup {
  background-color: #8CAFCB;
  border: 0px;
  width: 60%;
  height: 45px;
  margin-top: 20px;
  border-radius: 0px;
  margin-bottom: 20px;
  font-size: 14px;
}
