
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 992px) {
  .profile-img{
    height: 150px;
    width: 150px;
  }
}

/* Bootstrap lg and up */
@media only screen 
and (min-width : 992px) {
  .profile-img{
    height: 200px;
    width: 200px;
  }
}

button.filepond--file-action-button.filepond--action-process-item {
  display: none;
}